/* .main{
    background-color: var(--dark);
    height: 70px; */
    /* display: flex; */
    
    /* width:100% ; */
/* } */

/* .data{
    display: flex;
    justify-content: right;

   text-align: center;
}
.links{
    list-style-type: none;
    display: flex;
 
    padding: 20px; */

    
    /* margin: 10px; */
/* }
.links li a{
   
    padding: 10px;
    font-size: large;
    font-weight: bold;
    color: aliceblue;
    
    
    
} */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    position: sticky;
    top: 0;
    z-index: 100;
    /* background-color: blue; */
    
}
.header_logo{
    height: 25px;
    object-fit: contain;
}
.header_input{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    width:40%;
}
.header_icons li a{
    display: flex;
    
    color: black;
    list-style-type: none;
margin-right: 10px;
    

}
.header_input > input
{
    flex: 1;
    border: none;
}



 

